@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800");
* {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header {
  background-color: #111111;
  color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  text-transform: uppercase;
  margin-top: 56px;
  margin-left: 12%;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}

nav {
  margin-right: 9%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
}

.menu li {
  margin-left: 34px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.menu a:hover {
  border-bottom: 2px solid #fcac45;
}

/*Home*/
#home {
  width: 100%;
  height: 790px;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-text {
  color: #505050;
}

.home-text h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
}

.home-text h1 span {
  color: #fcac45;
  font-weight: bold;
}

.home-text p {
  font-size: 20px;
  color: #949494;
}

.home-text p span {
  font-weight: bold;
  color: #c3c3c3;
}

/*About*/
#about {
  height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 76%;
  height: 610px;
  padding: 100px 0px;
}

.about-text {
  margin-left: 8%;
}

.about-text h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 27px;
  display: inline-block;
  padding-top: 30px;
  border-bottom: 3px solid #fcac45;
  padding-bottom: 10px;
}

.about-text h2 span {
  font-weight: bold;
}

.about-text p {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 35px;
  color: #949494;
}

.about-text li {
  color: #949494;
  margin-left: 20px;
  padding-bottom: 20px;
  list-style-image: url("/img/list-style.png");
}

.about-text li span {
  color: #5a5a5a;
  font-weight: bold;
}

#team {
  background-color: #070707;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 730px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 100px;
  height: 725px;
}

#team h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 20px;
}

#team > span {
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 3px;
}

#team .flex {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 76%;
}

#team .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

#team .profile img {
  background-color: #d7d7d7;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#team .profile span {
  padding-top: 10px;
}

#team .profile p {
  padding-top: 35px;
  font-size: 14px;
}

#team .profile:nth-child(4) {
  padding: 0;
}

#services {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 100px;
  height: 725px;
}

#services h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 20px;
}

#services > span {
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 3px;
}

#services > p {
  font-style: italic;
  margin: 0 auto;
  width: 76%;
  color: #949494;
  text-align: center;
  padding-top: 60px;
}

#services .flex {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 76%;
}

#services .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

#services .profile .picture-services {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #fcac45;
}

#services .profile span {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

#services .profile p {
  padding-top: 35px;
  font-size: 14px;
}

#services .profile:nth-child(4) {
  padding: 0;
}

#clients {
  background-color: #070707;
  height: 520px;
  padding-top: 95px;
  padding-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 300;
  color: #949494;
  padding-bottom: 30px;
}

#clients h2 span {
  font-weight: 600;
  color: #ffffff;
}

#clients > span {
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 3px;
  text-align: center;
  margin-bottom: 110px;
}

#clients .clients {
  width: 76%;
  margin: 0 auto;
  text-align: center;
}

#clients .clients img {
  padding-right: 10px;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.target-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79%;
  margin: 0 auto;
}

.target-text h1 {
  padding-top: 100px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 44px;
  text-align: center;
  color: #222222;
}

.target-text h1 span {
  font-weight: 600;
}

.target-text > span {
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 3px;
  text-align: center;
  margin-bottom: 55px;
}

.target-text p {
  font-style: italic;
  line-height: 24px;
}

.grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
  -ms-grid-columns: 250px 250px 250px 250px;
      grid-template-columns: 250px 250px 250px 250px;
  -ms-grid-rows: 260px 260px 260px;
      grid-template-rows: 260px 260px 260px;
  width: 79%;
  padding-top: 180px;
  padding-bottom: 100px;
}

.grid img {
  cursor: pointer;
}

.grid img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

#testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b0b0b;
  color: #ffffff;
  height: 560px;
  padding-bottom: 120px;
}

#testimonials h1 {
  padding-top: 100px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
}

#testimonials h1 span {
  font-weight: 100;
}

#testimonials > span {
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 3px;
  text-align: center;
  margin-bottom: 110px;
}

#testimonials p {
  width: 79%;
  font-size: 18px;
  font-weight: 600;
  color: #b2b2b2;
  padding-bottom: 50px;
  text-align: center;
}

#testimonials p span {
  font-weight: 300;
  text-align: center;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 830px;
}

#contact h1 {
  padding-top: 100px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
}

#contact > span {
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 3px;
  text-align: center;
  margin-bottom: 55px;
}

#contact > p {
  width: 79%;
  font-style: italic;
  color: #b2b2b2;
  padding-bottom: 100px;
  text-align: center;
}

.ajax-contact-form {
  padding-bottom: 100px;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "row-1 row-2" "row-3 row-3";
}

.ajax-contact-form .row {
  color: #b2b2b2;
}

.ajax-contact-form .row-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: row-1;
}

.ajax-contact-form .row-1 input[type='text'] {
  width: 360px;
  height: 45px;
  margin-top: 10px;
}

.ajax-contact-form .row-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: row-2;
}

.ajax-contact-form .row-2 input[type='email'] {
  width: 360px;
  height: 45px;
  margin-top: 10px;
}

.ajax-contact-form .row-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: row-3;
}

.ajax-contact-form .row-3 textarea {
  width: 750px;
  height: 165px;
  margin-top: 10px;
}

.ajax-contact-form .row-4 {
  text-align: right;
  -ms-grid-column: 2;
  grid-column: 2;
}

.ajax-contact-form textarea {
  outline: none;
  resize: none;
}

.ajax-contact-form .required {
  color: red;
}

.ajax-contact-form .form-container__btn {
  background-color: #fcac45;
  padding: 15px 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ajax-contact-form .form-container__btn:hover {
  color: #fcac45;
  background-color: #ffffff;
  border: 1px solid #fcac45;
}

footer {
  background-color: #222222;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social a {
  color: #b2b2b2;
  margin: 10px;
  text-align: center;
}

footer .social a i {
  padding: 10px;
  border: 3px solid #b2b2b2;
  font-size: 18px;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-facebook-f:hover {
  color: #3b5999;
  border: 3px solid #3b5999;
}

.fa-twitter:hover {
  color: #55acee;
  border: 3px solid #55acee;
}

.fa-vk:hover {
  color: #4c75a3;
  border: 3px solid #4c75a3;
}

.fa-github:hover {
  color: #ffffff;
  border: 3px solid #ffffff;
}

.fa-whatsapp:hover {
  color: #25D366;
  border: 3px solid #25D366;
}

@media screen and (max-width: 1110px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */